<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IVelibsRetriever" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8733/JCDLibrary/Service1"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IVelibsRetriever"
                contract="JCDLibrary.IVelibsRetriever" name="NetTcpBinding_IVelibsRetriever">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>