<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IVelibsRetriever" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IVelibsRetriever" maxReceivedMessageSize="819200" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IVelibsRetriever" maxReceivedMessageSize="819200" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/JCDLibrary/Client/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVelibsRetriever"
        contract="JCDLibrary.IVelibsRetriever" name="BasicHttpBinding_IVelibsRetriever" />
      <endpoint address="http://localhost:8733/JCDLibrary/ClientWS/"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVelibsRetriever"
        contract="JCDLibrary.IVelibsRetriever" name="WSHttpBinding_IVelibsRetriever">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8738/JCDLibrary/ClientTCP/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IVelibsRetriever"
        contract="JCDLibrary.IVelibsRetriever" name="NetTcpBinding_IVelibsRetriever">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>