<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVelibsRetriever" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/JCDLibrary/Client/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVelibsRetriever"
                contract="JCDLibrary.IVelibsRetriever" name="BasicHttpBinding_IVelibsRetriever" />
        </client>
    </system.serviceModel>
</configuration>